Integrations/LogicApps/dev-la-optum-outbound-wellsky-token/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_dev_la_optum_outbound_wellsky_token_name": {
            "defaultValue": "dev-la-optum-outbound-wellsky-token",
            "type": "String"
        },
        "connections_azurefile_externalid": {
            "defaultValue": "/subscriptions/b4f24c37-de92-4f78-809d-d521ce05ea7f/resourceGroups/rg-dev-ORxMSDynamicsRCM/providers/Microsoft.Web/connections/azurefile",
            "type": "String"
        },
        "connections_keyvault_externalid": {
            "defaultValue": "/subscriptions/b4f24c37-de92-4f78-809d-d521ce05ea7f/resourceGroups/rg-dev-ORxMSDynamicsRCM/providers/Microsoft.Web/connections/keyvault",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_dev_la_optum_outbound_wellsky_token_name')]",
            "location": "centralus",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "GetWellSkyToken": {
                            "defaultValue": "https://gateway-stage.optum.com/auth/oauth2/cached/token",
                            "type": "String"
                        },
                        "TokenFileName": {
                            "defaultValue": "token.txt",
                            "type": "String"
                        },
                        "TokenFilePath": {
                            "defaultValue": "/optumintegrationfilestorage/Token",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "ForceGenerate": {
                                            "type": "boolean"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Get_token_file": {
                            "runAfter": {
                                "WellskyTokenClientSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azurefile']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(concat(parameters('TokenFilePath'),'/',parameters('TokenFileName'))))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            }
                        },
                        "Initialize_expires_in_variable": {
                            "runAfter": {
                                "Initialize_token_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DateTime",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_token_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Token",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Is_file_not_found": {
                            "actions": {
                                "Create_token_file": {
                                    "runAfter": {
                                        "GetWellSkyToken": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": "@concat(body('GetWellSkyToken')?['access_token'],',',body('GetWellSkyToken')?['expires_in'],',',utcNow())",
                                        "headers": {
                                            "ReadFileMetadataFromServer": true
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azurefile']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/datasets/default/files",
                                        "queries": {
                                            "folderPath": "@parameters('TokenFilePath')",
                                            "name": "@parameters('TokenFileName')",
                                            "queryParametersSingleEncoded": true
                                        }
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "GetWellSkyToken": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "client_id": "@{body('WellskyTokenClientId')?['value']}",
                                            "client_secret": "@{body('WellskyTokenClientSecret')?['value']}",
                                            "grant_type": "client_credentials"
                                        },
                                        "method": "POST",
                                        "uri": "@parameters('GetWellSkyToken')"
                                    }
                                },
                                "Return_newly_get_token": {
                                    "runAfter": {
                                        "Create_token_file": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": "@body('GetWellSkyToken')?['access_token']",
                                        "statusCode": 200
                                    }
                                }
                            },
                            "runAfter": {
                                "Get_token_file": [
                                    "Succeeded",
                                    "Failed"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "If_Seconds_is_less_than_3000": {
                                        "actions": {
                                            "Return_previous_token": {
                                                "runAfter": {
                                                    "Set_token": [
                                                        "Succeeded"
                                                    ]
                                                },
                                                "type": "Response",
                                                "kind": "Http",
                                                "inputs": {
                                                    "body": "@variables('Token')",
                                                    "statusCode": 200
                                                }
                                            },
                                            "Set_token": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "Token",
                                                    "value": "@{split(body('Get_token_file'),',')[0]}"
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Subtracted_Minutes": [
                                                "Succeeded"
                                            ]
                                        },
                                        "else": {
                                            "actions": {
                                                "GetNewWellSkyToken": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "body": {
                                                            "client_id": "@{body('WellskyTokenClientId')?['value']}",
                                                            "client_secret": "@{body('WellskyTokenClientSecret')?['value']}",
                                                            "grant_type": "client_credentials"
                                                        },
                                                        "method": "POST",
                                                        "uri": "@parameters('GetWellSkyToken')"
                                                    }
                                                },
                                                "Return_updated_token": {
                                                    "runAfter": {
                                                        "Update_token_file": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Response",
                                                    "kind": "Http",
                                                    "inputs": {
                                                        "body": "@body('GetNewWellSkyToken')?['access_token']",
                                                        "statusCode": 200
                                                    }
                                                },
                                                "Update_token_file": {
                                                    "runAfter": {
                                                        "GetNewWellSkyToken": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": "@concat(body('GetNewWellSkyToken')?['access_token'],',',body('GetNewWellSkyToken')?['expires_in'],',',utcNow())",
                                                        "headers": {
                                                            "ReadFileMetadataFromServer": true
                                                        },
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['azurefile']['connectionId']"
                                                            }
                                                        },
                                                        "method": "put",
                                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(concat(parameters('TokenFilePath'),'/',parameters('TokenFileName'))))}"
                                                    }
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "lessOrEquals": [
                                                        "@outputs('Subtracted_Minutes')",
                                                        3000
                                                    ]
                                                },
                                                {
                                                    "equals": [
                                                        "@triggerBody()?['ForceGenerate']",
                                                        "@false"
                                                    ]
                                                }
                                            ]
                                        },
                                        "type": "If"
                                    },
                                    "Set_DateTime": {
                                        "runAfter": {},
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "DateTime",
                                            "value": "@{split(body('Get_token_file'),',')[2]}"
                                        }
                                    },
                                    "Subtracted_Minutes": {
                                        "runAfter": {
                                            "Set_DateTime": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Compose",
                                        "inputs": "@mul(div(div(mul(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-ddTHH:mm:ss')),ticks(variables('DateTime'))),100),1000000000),60),60)"
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@outputs('Get_token_file')['statusCode']",
                                                200
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "WellskyTokenClientId": {
                            "runAfter": {
                                "Initialize_expires_in_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('WellskyTokenClientId')}/value"
                            }
                        },
                        "WellskyTokenClientSecret": {
                            "runAfter": {
                                "WellskyTokenClientId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('WellskyTokenClientSecret')}/value"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azurefile": {
                                "connectionId": "[parameters('connections_azurefile_externalid')]",
                                "connectionName": "azurefile",
                                "id": "/subscriptions/b4f24c37-de92-4f78-809d-d521ce05ea7f/providers/Microsoft.Web/locations/centralus/managedApis/azurefile"
                            },
                            "keyvault": {
                                "connectionId": "[parameters('connections_keyvault_externalid')]",
                                "connectionName": "keyvault",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "/subscriptions/b4f24c37-de92-4f78-809d-d521ce05ea7f/providers/Microsoft.Web/locations/centralus/managedApis/keyvault"
                            }
                        }
                    }
                }
            }
        }
    ]
}